[Unit]
Description=Silent Doorbell Setup and Heartbeat
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /var/silentdoorbell/device_boot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
