[Unit]
Description=Silent Doorbell Device Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/var/silentdoorbell/.venv/bin/python3 /var/silentdoorbell/device.py
WorkingDirectory=/var/silentdoorbell
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target